{% extends 'base.html' %}

{% block content %}
    {% if user.is_authenticated %}
        <p style="color: darkblue;"> Jesteś zalogowany/a na Zwierzowisku: {{ user.username }}</p>
    {% endif %}

    <p style="color: darkblue;">{{ message }}</p>
     <p style="color: darkblue;">{{ message3 }}</p>
    <p style="color: darkblue;">{{ message4 }}</p>

    <h2><p>wpisy w blogu pod tytułem "{{ blog.title }}":</p></h2>

    <ul>


        {% for article in articles %}
            <li>

                <p> {{ article.one_article }}

                    {% if user.is_authenticated %}
                        <a class="buttons" class="del_art" name="delate_art" style="color: firebrick;"
                           href="/article-delate/{{ article.id }}">usuń wpis</a>
                    {% endif %}
                </p>


                <p style="font-size: 15px;"> {{ article.data }}  </p>

            </li>
        {% endfor %}


    </ul>


    <h3><p>komentarze do tego bloga:</p></h3>

    <ul>


        {% for comment in comments %}
            <li>
                <p>{{ comment.conntent }}</p>
                <p style="font-size: 15px;"> {{ comment.data }}  </p>

            </li>
        {% endfor %}


    </ul>


    <h3><p>liczba polubień: {{ blog.likes_nr }}</p></h3>



    </div>

    <form method="post">
        <input class="buttons" type="submit" value="Polub">
        {% csrf_token %}
    </form>

    <div>
    <ul>
        <li class="buttons"><a href="/edit-comment/{{ blog.id }}"> dodaj komentarz </a></li>
        <li class="buttons"><a href="/blog-list/" class="btn"> wszystkie blogi </a></li>

        {% if user.is_authenticated %}
            <li class="buttons"><a href="/fav/" class="btn"> dodaj ten blog do ulubionych </a></li>
            <li class="buttons"><a href="/add-article/{{ blog.id }}"> dodaj wpis do bloga </a></li>
        {% endif %}
        <li class="buttons"><a href="/fav/" class="btn"> ulubione blogi </a></li>
        <li class="buttons"><a href="/" class="btn">wróć do strony głównej</a></li>

        {% if user.is_authenticated %}

            {#      {% for b in blog %}#}

            <li class="buttons"><a class="del_blog" name="delate_blog" style="color: firebrick;" href="/blog-delate/{{ blog.id }}">usuń
                bloga</a></li>
            {#            {% endfor %}#}


        {% endif %}

    </ul>
    {#    <form method="post" >#}
    {#    <input type="hidden" name="id" value="<tutaj id>" />#}
    {#    <input type="submit" value="Usuń" />#}
    {#    </form>#}
    {##}
    {##}
    {##}
    {##}
    {#    </div>#}
    {#        <div class="blogs">#}



{% endblock %}



