{% extends 'base.html' %}

{% block content %}



    {% if user.is_authenticated %}
  <p style= "color: saddlebrown;" > Jesteś zalogowany/a na Zwierzowisku: {{ user.username }}</p>
        {% endif %}


    <div class="buttons">
        <ul>


            <li> <a href="/add-blog/" class="btn">dodaj nowy blog</a> </li>
            <li> <a href="/fav/" class="btn">ulubione blogi</a> </li>
             <li> <a href="/" class="btn">wróć do strony głównej</a> </li>
         </ul>

    </div>
        <div class="blogs">

        <p>lista Twoich blogów:</p>


        <ul>

            {% for blog in blogs %}

{#                <li>#}
{##}
{##}
{#                    <p>    <a href="/blog-details/{{ blog.id }}" >  {{blog.id }}   {{blog.title}},  autor: {{ blog.author }},  zwierzę:   {{ blog.animal }} </p> #}
{##}
{#                   {{ blog.data }} #}
{#                     {{ blog.likes_nr }}#}
{##}
{#                    #}
{#                </a>     <a href="/edit-blog/{{ blog.id }}">edytuj</a>    </li>#}


                <li> <p>    <a href="/blog-details/{{ blog.id }}" >  {{blog.id }}.   {{blog.title}}  -    {{ blog.animal }}  </a></p>

                    <p style="font-size: 15px;">    {{ blog.likes_nr }}  {{ blog.data }}  </p>
                </li>





            {% endfor %}

         </ul>

    </div>




{% endblock %}